.container0{
    width: 40vw;
    padding: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    margin-right: 15px;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 20px;
}
.head0{
    font-size: 30px;
    color: green;
}
.para0{
    font-size: 18px;
    color: black;
}
.img0{
    height: 300px;
    background-size: cover;
}