.container14{
    background-color: white;
    width: 98vw;
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.card14{
    margin-left: 20px;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;
    flex-wrap: wrap;
    border-color: black;
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.box14{
    margin-left: 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 90vw;
    height:100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.head14{
    font-size: 30px;
    color: blueviolet;
    text-align: center;
}
.x14{
    margin-right: 20px;
}
.but14{
    color: white;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: blue;
}