.x223{
    background-color: whitesmoke;
    border-radius: 7px;
   margin: 10px;
    width: 25vw;
    padding: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    flex-direction: column;
}
.but{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}
.jobsP{
    font-size: 18px;
    color: green;
    font-family: roboto;
    text-decoration: none;
}
.item{
    text-decoration: none;
}