.container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
}
.img2{
    margin-left: 150px;
    width: 25vw;
    background-size: cover;
}
.box2{
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    margin-right: 150px;
}
.x2{
    width:80%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.inputr{
    margin-top: 10px;
    height: 25px;
    width: 100%;
}
.but3{
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}